.venv
kaggle.json
config.json
ethereal-fraud-1c4b93baea54.json
data
data2
artifacts
checkpoints
*.DS_Store
celtic-tendril-459507-q8-11aab1661f0a.json
tmp
original
dataset/lstm
dataset/gnn
data copy
gnn_middle